<!doctype html>
<html lang="pl" dir="ltr">
  <head>
    <%- include ('modules/meta.ejs') %>

    <title><%= TITLE %></title>

    <!-- iOS home screen icons -->
    <meta name="apple-mobile-web-app-title" content="10xDev">

    <%- include ('modules/version.ejs') %>
    <%- include ('modules/browserChecker.ejs') %>
  </head>
  <%- include ('modules/body.ejs') %>
</html>
